
@media only screen and (max-width:1100){
    nav .logo
  {
    width: 30%; text-align: center;
    font-size: 30px;
      padding: 0 2%;
  }
}

@media only screen and (max-width:900){
    nav .logo
  {
    width: 30%; 
    text-align: inherit;
    font-size: 30px;
      padding: 0 2%;
  }
}